@import url('https://fonts.googleapis.com/css?family=Poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rose: #D4B2A7;
  --latte: #A38F85;
  --toned-latte: #6d3b2069;
  --nude: #e7d7c9;
  --ivory: #ede9e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.nav-links ul li a {
    display: inline-block;
    position: relative;
}

.nav-links ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffce2c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  header {
    /* background-image: url(assets/img/pexels-miguel-á-padriñán-194096.jpg); */
    background-size: cover;
  }

/* Hamburger Menu */
.mobile-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    transform-origin: center;
    cursor: pointer;
  }

.mobile-btn .bar {
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #525252;
    border-radius: 10px;
    transition: all .5s ease-in-out;
  }

  .mobile-btn .bar::before,
  .mobile-btn .bar::after
   {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #ffce2c;
    border-radius: 10px;
    transition: all .5s ease-in-out;
  }

  .mobile-btn .bar::before{
    transform: translateY(-10px);
  }

  .mobile-btn .bar::after{
    transform: translateY(10px);
  }

  .mobile-btn.mobile-open .bar{
    background: transparent;
  }

  .mobile-btn.mobile-open .bar::before {
    transform: rotate(45deg);
  }

  .mobile-btn.mobile-open .bar::after {
    background-color: #525252;
    transform: rotate(-45deg);
  }

  /* End of hamburger menu */

section {
  background-color: white;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.parallax-holder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.foreground,
.background {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.background {
    width: 100%;
    object-fit: cover;
    transform: translateZ(-10px) scale(2);
}
.foreground {
    right: 0;
    width: 100%;
    object-fit: contain;
    transform: translateZ(-5px) scale(1.5);
}

/* About Me */

.aboutMe-section {
  background-color: var(--nude);
}

@media (width > 768px){
    .home-text {
      position: absolute;
      left: 0;
      width: 50%;
    }

    .foreground {
      transform: translateX(5%) translateY(5%);
      width: 50%;
    }
}